In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# Load the data
data = pd.read_csv('SalaryData_Train(1).csv')
data

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# Encode categorical variables
categorical_features = ['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native']
for feature in categorical_features:
    label_encoder = LabelEncoder()
    data[feature] = label_encoder.fit_transform(data[feature])

In [4]:
# Split the data into training and testing sets
X = data.drop('Salary', axis=1)
y = data['Salary']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [5]:

# Train a Gaussian Naive Bayes model
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [6]:
# Make predictions on the test set using the Gaussian model
y_pred_gnb = gnb.predict(X_test)

In [7]:
# Print the accuracy of the Gaussian model
accuracy_gnb = accuracy_score(y_test, y_pred_gnb)
print('Accuracy of Gaussian Naive Bayes model:', accuracy_gnb)

Accuracy of Gaussian Naive Bayes model: 0.7908171722194597

In [8]:
# Train a Multinomial Naive Bayes model
mnb = MultinomialNB()
mnb.fit(X_train, y_train)

MultinomialNB()

In [9]:
# Make predictions on the test set using the Multinomial model
y_pred_mnb = mnb.predict(X_test)

In [10]:
# Print the accuracy of the Multinomial model
accuracy_mnb = accuracy_score(y_test, y_pred_mnb)
print('Accuracy of Multinomial Naive Bayes model:', accuracy_mnb)

Accuracy of Multinomial Naive Bayes model: 0.7679429802751533

# TEST DATA

In [20]:

# Load the training data
train_data = pd.read_csv('SalaryData_Train.csv')

In [21]:
# Load the test data
test_data = pd.read_csv('SalaryData_Test.csv')

In [22]:
# Encode categorical variables
categorical_features = ['workclass', 'education', 'maritalstatus', 'occupation', 'relationship', 'race', 'sex', 'native']
for feature in categorical_features:
    label_encoder = LabelEncoder()
    train_data[feature] = label_encoder.fit_transform(train_data[feature])
    test_data[feature] = label_encoder.transform(test_data[feature])

In [23]:
# Split the training data into training and testing sets
X_train = train_data.drop('Salary', axis=1)
y_train = train_data['Salary']
X_test = test_data.drop('Salary', axis=1)
y_test = test_data['Salary']

In [24]:
# Train a Gaussian Naive Bayes model
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [25]:
# Make predictions on the test set using the Gaussian model
y_pred_gnb = gnb.predict(X_test)

In [26]:
# Print the accuracy of the Gaussian model
accuracy_gnb = accuracy_score(y_test, y_pred_gnb)
print('Accuracy of Gaussian Naive Bayes model:', accuracy_gnb)

Accuracy of Gaussian Naive Bayes model: 0.7946879150066402

In [27]:
# Train a Multinomial Naive Bayes model
mnb = MultinomialNB()
mnb.fit(X_train, y_train)

MultinomialNB()

In [28]:

# Make predictions on the test set using the Multinomial model
y_pred_mnb = mnb.predict(X_test)

In [29]:
# Print the accuracy of the Multinomial model
accuracy_mnb = accuracy_score(y_test, y_pred_mnb)
print('Accuracy of Multinomial Naive Bayes model:', accuracy_mnb)

Accuracy of Multinomial Naive Bayes model: 0.7749667994687915